@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	width: 100%;
	height: 100%;
}

html, body, button {
	font-family: 'Oswald', sans-serif;
}

body {
	background-color: #673ab7;
	background: linear-gradient(165deg, #3F51B5, #F44336);
	margin: 0;
	overflow-x: hidden;
	font-size: 18px;
}

.btn-sidebar {
	position: absolute;
	z-index: 1001;
	border: 0 none;
	background-color: #f0f0f0;
	color: #000;
	padding: 5px 15px;
	border-radius: 4px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	text-transform: uppercase;
	top: 15px;
	cursor: pointer;
}

.btn-sidebar.btn-sidebar--left {
	left: 15px;
}

.btn-sidebar.btn-sidebar--right {
	right: 15px;
}

.text {
	position: absolute;
	left: 0;
	right: 0;
	width: 800px;
	text-align: center;
	margin: auto;
	top: 0;
	bottom: 0;
	height: 160px;
	color: #fff;
}

.spacing {
	padding: 15px;
}