<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/sidebar.css">
</head>
<body ng-controller="sidebar">

	<!--
			this is sidebar
			size: size of sidebar
			position: position of sidebar
			has-bg: if has a background
			is-expanded: if true the sidebar carries open
	-->
	<sidebar id="sidebar1" size="400" position="left" has-bg="true" is-expanded="true">
		<br>
		<br>
		<ul>
			<li>is a item</li>
			<li>is a item</li>
			<li>is a item</li>
			<li>is a item</li>
			<li>is a item</li>
			<li>is a item</li>
		</ul>
	</sidebar>

	<sidebar id="sidebar2" size="50%" position="right" has-bg="true" is-expandable="true">
		<div class="spacing">
			<br>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates perferendis et saepe omnis nemo, dolores quia ipsam ea blanditiis quaerat autem aut id itaque magnam recusandae sint architecto! Error, consequuntur.
			</p>
		</div>
	</sidebar>

	<!--add a button with the same id of sidebar-->
	<button class="btn-sidebar btn-sidebar--left" ng-click="toggleSidebar('sidebar1')">sidebar left</button>

	<button class="btn-sidebar btn-sidebar--right" ng-click="toggleSidebar('sidebar2')">sidebar right</button>

	<div class="text">
		<h1>Directive &lt;sidebar/&gt;</h1>
		<h4>with AngularJS <small>@interaminense</small></h4>
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
	<script src="js/sidebar.js" type="text/javascript"></script>
</body>
</html>